.nav {
  @extend .navbar;
  @extend .navbar-inverse;


}

.cont {
  @extend .container-fluid;




}

.nav-header {
  @extend .navbar-header;


}

.nav-brand {
  @extend .navbar-brand;


}

.nav1 {
  @extend .nav;
  @extend .navbar-nav;


}

.act {
  @extend .active;


}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 2s ease-in;
}
