.cont1 {
  @extend .container-fluid;
}


body {
  background-color: rgba(38, 13, 13, 0.1);
}

.al {
  background-color: white;
  box-shadow: 0px 0px 25px 0px rgba(236,24,75,1);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;

}

.nl {
  background-color: white;
  box-shadow: 0px 0px 25px 0px rgba(0,70,132,0.75);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;

}

.column-full {
  @extend .col-md-12;
  margin-top: 3px;
  text-align: center;


}

.li-gr {
  @extend .list-group;


}
.li-gr-nl {
  @extend .list-group;


}

h2 {
  text-align: center;
}

.league-card {

  background-color: white;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.league-logo {
  height: 100px;
  @extend .img-responsive ;
  @extend .center-block;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ballpark-list-card {

}
