.ballpark-header {
border-bottom: 2px solid black;
margin-bottom: 20px;
vertical-align: middle;
}

.image-holder {
  @extend .pull-right;
  @extend .img-rounded;
  height: 60%;
  width: 60%;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.9s ease-in;
}
