.dashboard-margin {
  margin-top: -20px;
}

.dashboard-active {
  padding-top: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #F2F7FF;
}

.dashboard1-inactive {

  padding: 20px;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
	margin-top: 10%;
  margin-left: 10%;
	height: 4em;
	width: 20em;
	position: relative;
  background: white;
  box-shadow: inset 0px 0px 2px 1px rgba(0,70,132,1);
  color: black;
  transition: all 100ms linear;
  border: none;
}

.dashboard1-active {

  padding: 20px;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
	margin-top: 10%;
  margin-left: 10%;
  height: 4em;
	width: 20em;
	position: relative;
  background: white;
  box-shadow: inset 0px 0px 46px -7px rgba(0,70,132,1);
  color: black;
  transition: all 200ms linear;
  border:none;

}

*:focus {
    outline: 0 !important;
}

.dashboard-inactive {
  padding-top: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #F2F7FF;
  opacity: 0.1;
}

.cursor:hover {
  cursor: pointer;
}

span {
  margin-left: 5px;
}

.button {
  @extend .btn;
  @extend .btn-default;
}

.margin-dashboard {
  margin-top: 3%;
}

.dashboard-card {
  margin-top: 5%;
  background:rgba(255,255,255, 0.3);
  padding-bottom: 2%;
  box-shadow: 5px 5px 3px #888888;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}
