.form-inline {
  @extend .form-inline;
}

.f-group {
  @extend .form-group;

}

.f-control {
  @extend .form-control;
}

.formbutton {
  @extend .btn;
  @extend .btn-default;
}

.small-form {
  @extend .col-xs-6;
}

.medium-form {
  @extend .col-xs-6;
  margin-left: 25%;
}

.first-small-form {

}

.selector {
  @extend .center-block;
}

.form-row {
  margin-bottom: 3%;
}

.form-card {
  background:rgba(255,255,255, 0.2);
  border-radius: 8px;
}
