.search-input {
  margin-left: 35%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.search-form-card {
  background-color: rgba(255,255,255, 0.2);
  padding-bottom: 2%;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 1%;
  margin-bottom: 5%;
}
