.search-input {
  margin-left: 35%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.search-form-card {
  margin-top: 5%;
  background-color: rgba(255,255,255, 0.3);
  padding-bottom: 2%;
  box-shadow: inset 0px 0px 1px 3px rgba(0,70,132,1),5px 5px 5px #888888;
  margin-bottom: 5%;
}
