.sortable-margin {
  margin-top: -20px;
}

.sortable-choice-margin {
  margin-top: 20px;
}

.sortable-active {
  padding-top: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  background-color: #F2F7FF;
}

.sortable-choice-inactive {
  background-color: #F2F7FF;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.8;
}

.sortable-choice-active {
  background-color: #F2F7FF;
  text-align: center;
  margin-bottom: 20px;
}

.middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

span {
  margin-left: 5px;
}

.sortable-card {
  margin-top: 5%;
  background-color: white;
  padding-bottom: 2%;
  border-radius: 3%;
  box-shadow: inset 9px 9px 5px -5px rgba(0,70,132,1),inset -9px -9px 5px -5px rgba(236,24,75,1),10px 10px 5px #888888;
  margin-bottom: 5%;

}

.sortable-button-active {
  padding: 20px;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
	margin-top: 30%;
  margin-left: 10%;
	border-radius: 10%;
	height: 2em;
	width: 10em;
	position: relative;
  background: white;
  box-shadow: inset 0 0 1em #004684;
  color: black;
}

.sortable-button-inactive {
  padding: 20px;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
	margin-top: 25%;
  margin-left: 10%;
	border-radius: 10%;
	height: 2em;
	width: 10em;
	position: relative;
  background: white;
  box-shadow: inset 0 0 1em #004684;
  color: black;
}
