.welcome {
  background-image: url(http://s13.postimg.org/k98qay9l3/stadium2.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.welcome1 {
  color: black;
  font-size: 150%;
  text-align: center;
  text-shadow: 4px 4px 8px black;
}

.welcome1 >h1 {
  color: white;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  font-size: 350%;
  font-family: "Architects Daughter";
  text-shadow: 4px 4px 4px black;
}
