.welcome {
  background-image: url(http://s13.postimg.org/k98qay9l3/stadium2.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.welcome1 {
  font-size: 150%;
  text-align: center;
}

.welcome1 >h1 {
  font-size: 250%;
}
