.welcome {
  background-image: url(http://s13.postimg.org/k98qay9l3/stadium2.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 3px solid black;
}

.welcome1 {
  font-size: 150%;
  text-align: center;
  text-shadow: 4px 4px 8px black;
}

.welcome1 >h1 {
  font-size: 350%;
  font-family: "Architects Daughter";
}
